<section class="content-header">
  <h1>
    Message Board
    <small>My universal messages</small>
  </h1>

  <ol class="breadcrumb">
    <li>
      <a ng-hide="vm.isLogged" href="javascript:void(0)" ng-click="vm.login()">
        <i class="btn fa fa-user btn-success">
          Loggin
        </i>
      </a>

      <a ng-show="vm.isLogged" href="javascript:void(0)" ng-click="vm.logout()">
        <i class="btn fa fa-user btn-info">
          Logout
        </i>
      </a>
    </li>
  </ol>
</section>
