<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#world-messages" data-toggle="tab">
        World Messages
      </a>
    </li>

    <li>
      <a href="#direct-messages" data-toggle="tab">
        Direct Messages
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="active tab-pane" id="world-messages">
      <mb-messages-world></mb-messages-world>
    </div>

    <div class="tab-pane" id="direct-messages">
      <mb-messages-direct></mb-messages-direct>
    </div>
  </div>
</div>
