{
  "extends": "eslint:recommended",
  "env": { "node": true },
  "globals": {
    "jest": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true,
    "expect": true
  }
}
